.load-screen {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
}
.load-screen img {
  width: 150px;
  height: 150px;
}

.load-fade-in {
  transition: all ease 0.5s;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
