.content-header-section {
  border-radius: 30px;
  width: auto;
  height: fit-content;
  padding: 1em;
  background: linear-gradient(0deg, #edf0f7, #edf0f7),
    radial-gradient(
      53.7% 85.66% at 37.72% 23.22%,
      #f2f3ff 28.61%,
      rgba(242, 243, 255, 0) 100%
    );
}

.contact-section {
  background-image: url("../../assets/images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 2rem;
  width: auto;
  overflow: hidden;
  border-radius: 30px;
  object-fit: fill;
}

.contact-form {
  width: 550px;
  height: 100%;
  border-radius: 20px;
  background: #f8fafb;
  padding: 2rem;
  max-width: 100%;
}

.contact-title {
  font-size: 65px;
  font-weight: 600;
  line-height: 79.24px;
  color: #0f172a;
}

.contact-subtitle {
  font-size: 25px;
  font-weight: 400;
  line-height: 30.48px;
  color: #36394a;
  margin-bottom: 1.5rem !important;
}

@media (max-width: 767px) {
  .contact-section {
    padding: 1rem;
  }
  .contact-title {
    font-size: 2.5rem;
    /* font-size: 50px; */
    font-weight: 600;
    line-height: 60.95px;
  }
  .contact-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    margin-bottom: 1.5rem !important;
  }
}
